.timeline-event-label { font-size: 80%; }
.timeline-event-bubble-title a { color: blue; }
.timeline-event-bubble-image { margin-right: 0px; margin-top: 3px; }
.timeline-ether-weekends { background-color: #ffa; }
#timeline-band-0 .timeline-event-label { 
	padding: 2px; 
	border: 1px solid #ddd; 
	color: #77f; 
}
#timeline-band-0 .timeline-event-label:hover {
	background-color: #ffa;
	color: red;
}
#timeline-band-1 .timeline-event-label { display: none; }
#timeline {
	height: 330px;
	border: 1px solid #ccc;
}
#timeline p {
	text-align: center; 
	height: 330px; 
	line-height: 330px; 
	font-size: 80%; 
	font-weight: bold;
}
.timeline-loading {
	border: 1px solid #ccc;
	height: 200px;
	width: 200px;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: absolute;
	top: 64px;
	z-index: 123456;
}
.timeline-loading img {
	margin-top: 67px;
	margin-left: 67px;
}
